<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Local Voice needs microphone access to record audio for on-device transcription.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>LocalVoice needs to interact with your browser to detect the current website for applying website-specific configurations.</string>
</dict>
</plist>
